<form action="<%= locals[:action] %>" method="POST" accept-charset="utf-8">
	<% if locals[:edit] %>
		<input type="hidden" name="_method" value="PUT"	>
	<% end %>
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	<label for="user_email">User Email</label>
	<input type="text" name="user[email]" value="<%= @user.email %>" id="user_email">

	<label for="user_password">User Password</label>
	<input type="password" name="user[password]" value="<%= @user.password %>" id="user_password">


	<p><input type="submit" value="Continue &rarr;"></p>
</form>