
  <label for="filename">Filename</label>
  <input type="text" name="gist[gist_files_attributes][<%= index %>][name]" value="" id="filename">
  <textarea name="gist[gist_files_attributes][<%= index %>][body]"></textarea>
  <br>