<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You forgot your password.</h1>
    <p>
      <%=link_to "Just go here to reset the damn thing.", @url %>
    </p>
  </body>
</html>