<h1>New user</h1>

<form action="<%= users_url %>" method="post" accept-charset="utf-8">
  
  <input 
  type="hidden" 
  name="authenticty_token" 
  value="<%= form_authenticity_token%>">
  
  <label for="username">Username</label>
  <input type="text" name="user[username]" value="<%= @user.username %>" id="username">
  <br>
  
  <label for="password">Password</label>
  <input type="password" name="user[password]" value="" id="password">
  <br>
  
  <p><input type="submit" value="Sign Up"></p>
</form>